/*
  Import Google Fonts
*/

/* Font - Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* Font - Open Sans Condensed */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');


/*
  Set All Body Tags' Margin and Padding to 0
  Set All Body Tags to Border-Box
  Set All Body Tags Font Family
*/

body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
}


/*
  Set CSS Variables
*/

:root {
  --body-bg-color: #EBFFEB;
  --header-nav-ul-li-color: #228B22;
  --header-nav-ul-li-color-hover: #FF8C00;
  --header-nav-ul-li-color-a: #FFFFFF;
  --text-color-black: #000000;
  --text-color-white: #FFFFFF;
  --h2-bg-color: #FAEBD7;
  --bg-color-white: #FFFFFF;
  --form-input-border-color: var(--header-nav-ul-li-color);
  --form-select-option-color: var(--text-color-black);
  --form-focus-border-color: var(--header-nav-ul-li-color-hover);
  --form-button-bg-color: var(--header-nav-ul-li-color);
  --form-button-color: var(--header-nav-ul-li-color-a);
  --form-button-color-hover: var(--header-nav-ul-li-color-hover);
  --form-status-color: var(--header-nav-ul-li-color-a);
  --form-status-success-bg-color: var(--header-nav-ul-li-color);
  --form-status-fail-bg-color: var(--header-nav-ul-li-color-hover);
  --table-tab-bg-color: var(--header-nav-ul-li-color);
  --table-tab-color: var(--header-nav-ul-li-color-a);
  --table-alt-color: #EBFFEB;
  --footer-bg-color: var(--header-nav-ul-li-color);
}


/*
  Styles - Body
*/

body {
  background-color: var(--body-bg-color);
}


/*
  Styles - Header Navigation
*/

header {
  background-image: url(./img/header-bg.jpg);
  background-size: cover;
  display: block;
  width: 100%;
  height: 200px;
  padding: 100px 0px 0px 0px;
}

nav {
  width: 100%;
}

ul.header-nav-ul {
  list-style: none;
  padding: 10px 5px;
  text-align: right;
}

ul.header-nav-ul > li {
  cursor: pointer;
  display: inline;
  cursor: pointer;
  margin: 0px 10px;
  font-family: 'Lora', serif;
  font-size: 20px;
}

ul.header-nav-ul > li:hover {
  background-color: var(--header-nav-ul-li-color-hover);
}

ul.header-nav-ul > li a, ul.header-nav-ul > li a:link, ul.header-nav-ul > li button {
  background-color: var(--header-nav-ul-li-color);
  color: var(--header-nav-ul-li-color-a);
  padding: 10px 20px;
}

ul.header-nav-ul > li a:hover, ul.header-nav-ul > li a:active, ul.header-nav-ul > li button:hover {
  background-color: var(--header-nav-ul-li-color-hover);
}

ul.header-nav-ul > li button {
  cursor: pointer;
  border: none;
}

.nav-ul-li-dropdown {
  position: relative;
  display: inline-block;
}

.nav-ul-li-dropdown-link {
  background-color: var(--header-nav-ul-li-color);
  position: absolute;
  left: 0%;
  display: none;
  width: 100%;
  margin: 10px 0px;
  text-align: left;
  font-family: 'Lora', serif;
  font-size: 20px;
}

.nav-ul-li-dropdown-links:hover {
  background-color: var(--header-nav-ul-li-color-hover);
}

.nav-ul-li-dropdown:hover .nav-ul-li-dropdown-link {
  display: block;
}


/*
  Styles - Main
*/

main {
  background-color: var(--bg-color-white);
  display: block;
  width: 100%;
  padding: 30px 0px 70px 0px;
}

.landing-page{
  width: 100%;
  height: 300px;
  opacity: 30%;
}

.my-content {
  font-family: cursive;
  font-weight: inherit;
  position: relative;
  bottom: 710px;
  margin: 0px 20px 0px 20px;
  box-sizing: inherit;
  height: 0px;
}

.text-center {
  text-align: center;
}


/* 
.landing-page{
  width: 100%;
  opacity: 50%;
  margin-bottom: -400px;
  font-weight: bolder;
  background: url(../src/img/landing-page.jpg);
  height: 300px;
*/


/*
  Styles - Main > Section
*/

section.main-section {
  padding: 0px 20px;
  font-size: 20px;
}

section.main-section > h2 {
  background: var(--h2-bg-color);
  margin: 40px 0px 25px 0px;
  padding: 10px 0px;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 30px;
}

section.main-section > h2 > svg, section.main-section > h3 > svg {
  margin: 0px 10px 0px 0px;
}

button svg {
  margin: 0px 3px 0px 0px;
}

section.main-section > h3 {
  margin: 35px 0px 10px 0px;
  font-family: 'Lora', serif;
  font-size: 25px;
}

section.main-section p {
  margin: 10px 0px;
  text-align: justify;
}

section.main-section ul {
  padding: 0px 0px 0px 30px;
  text-align: justify;
}


/*
  Styles - Main > Section > About Team
*/

.team-member-name {
  display: block;
  font-style: italic;
  font-weight: bold;
}

.team-member {
  width: 100%;
  min-height: 150px;
  background-color: #fafafa;
  max-width: 800px;
  margin: 0px auto;
  padding: 50px 100px 50px 50px;
  border-right: 1px solid #efefef;
}

.team-member-img {
  float: left;
  width: 20%;
  height: 150px;
  padding: 0px 10px 0px 0px;
  border-radius: 5px;
}

.team-member-text {
  width: 100%;
  font-family: "C540", serif;
  color: #000000;
  font-size: larger;
}


/*
  Styles - Main > Section > Table
*/

.table {
  border-collapse: collapse;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.table thead, .table tfoot {
  background-color: var(--table-tab-bg-color);
  color: var(--table-tab-color);
}

.table tbody tr:nth-child(even), .table tbody tr:hover {
  background-color: var(--table-alt-color);
}

.table th, .table td {
  text-align: left;
  padding: 10px;
}

.table th:first-child{
  width: 90%;
}

.table th:last-child{
  width: 10%;
}

.table tr td img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0px 20px 0px 0px;
}

.table tr td a {
  color: var(--header-nav-ul-li-color);
}

.table tr td div {
  padding: 15px 0px 0px 0px;
}

.table-button {
  background-color: var(--form-button-bg-color);
  color: var(--form-button-color);
  border: 2px solid var(--form-button-bg-color);
  cursor: pointer;
  padding: 3px 7px;
}

.user-action-button {
  background-color: var(--form-button-bg-color);
  color: var(--form-button-color);
  border: 2px solid var(--form-button-bg-color);
  cursor: pointer;
  padding: 10px 40px;
}

.table-button a, .user-action-button a {
  color: var(--form-button-color);
  text-decoration: none;
}

.table-button:hover, .user-action-button:hover {
  background-color: var(--form-button-color-hover);
}


/*
  Styles - Main > Section > Form
*/

.form {
  width: 300px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
}

input, select {
  display: block;
  margin: 10px 0px;
  padding: 15px;
  height: 25px;
  width: 300px;
  border: 2px solid var(--form-input-border-color);
}

select {
  height: auto;
}

input:focus, select:focus {
  border: 2px solid var(--form-focus-border-color);
}

input[type=button] {
  background-color: var(--form-button-bg-color);
  color: var(--form-button-color);
  cursor: pointer;
  display: inline-block;
  padding: 10px 0px 28px 0px;
  width: 150px;
}

input[type=button]:hover {
  background-color: var(--form-button-color-hover);
}

#form-filters {
  min-height: 100px;
}

.signin-signup-status-success {
  background-color: var(--form-status-success-bg-color);
}

.signin-signup-status-fail {
  background-color: var(--form-status-fail-bg-color);
}

.signin-signup-status-success, .signin-signup-status-fail {
  color: var(--form-status-color);
  width: 300px;
  margin: 20px 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0px;
  text-align: center;
}


/*
  Styles - Footer
*/

footer {
  background: url(./img/footer-bg.jpg);
  color: var(--text-color-white);
  display: block;
  width: 100%;
  height: 50px;
  padding: 15px 0px;
}

p.footer-p-team {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 15px;
  font-weight: bolder;
}


/*
  Styles - CSS Classes & IDs
*/

.desktop-screen-only {
  display: none;
}

.recipe-page-image, .recipe-page-youtube {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

.center {
  display: block;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}


/*
  Styles - Responsiveness - > 1000px
*/

@media screen and ( min-width: 1000px ) {

  /*
    Styles - Body
  */

  body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  /*
    Styles - Header Navigation
  */

  ul.header-nav-ul > li svg {
    margin: 0px 10px 0px 0px;
  }

  
  /*
    Styles - Main > Section > Table
  */

  .table tr td div {
    padding: 35px 0px 0px 0px;
  }


  /*
    Styles - CSS Classes & IDs
  */

  .desktop-screen-only {
    display: inline-block;
  }

  .recipe {
    text-align: center;
    font-style: italic;
  }

  .recipe-page-image, .recipe-page-youtube {
    display: block;
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    width: 500px;
  }

}